---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/4947551/badges?order=desc&site=stackoverflow&sort=rank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - 618b1808-16be-4bfb-80c1-ca82b922d280
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"user":{"reputation":1,"user_id":4947551,"user_type":"registered","profile_image":"https://lh6.googleusercontent.com/-YrHOf63VSnQ/AAAAAAAAAAI/AAAAAAAACew/o7Z3gRlNFzk/photo.jpg?sz=128","display_name":"Jordan
        Williams","link":"https://stackoverflow.com/users/4947551/jordan-williams"},"badge_type":"named","award_count":1,"rank":"bronze","badge_id":2600,"link":"https://stackoverflow.com/badges/2600/informed","name":"Informed"}],"has_more":false,"quota_max":300,"quota_remaining":277}'
  recorded_at: Fri, 10 Apr 2020 22:23:12 GMT
recorded_with: VCR 5.1.0
